#success-alert{
  position:fixed;
  /*bottom:0;*/
  top:5%;
  width:61%;
  background: lightblue;
  z-index: 2000;
  float:left;
  display: none;
}
#success-alert img{
  width:30px;
  margin-left: 10px;
}

#titre_accrocheur {
  font-size: 40px;
  margin-left: 10px;
}

#soustitre {
  font-size: 20px;
}

#success-alert p{
  font-style:italic;
}

@media only screen and (max-width : 1224px){
  
}
@media (min-width: 320px) and (max-width: 480px) {

#success-alert {
  /*margin-left: 15%!important;*/
  width:60%;
}

#success-alert img{
  width:15px;
  margin-left: 8px;
}

#success-alert p{
  font-size:10px;
}

#titre_accrocheur {
  font-size: 12px;
  margin-left: 8px;
}
.soustitre {
  font-size: 12px;
}
  
}