.slick-prev:before, .slick-next:before{
  color:#4353a2!important;
}

.slick-prev, .slick-next {
top:50%!important;
  }

.withOptions{margin: 0 50px;}
.withOptions div {width: 100%;height: 100%;}

.titre_type_photo{
  margin-left: 33%;
}

.bouton-gestion-photo{
  width:120px;
  margin-left:45%!important;
  margin-top:5px!important;

}

.checkers{
  margin-left:49%;
  margin-bottom: 0.7rem!important;
}

@media only screen and (min-width : 1224px){
  #switcher{
  margin-top: 20px!important;
  }
}
.slick-slider img{
  width:100%;
}