
/* Style the Image Used to Trigger the Modal */
.myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  width:100%;
}

.myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow-y: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.w3-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}
/* Modal Content (Image) */
.modal-content {
  margin: auto;
  position: relative;
  display: block;
  width: 80%;
  outline: 0;
  max-width: 700px;
  border: none;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  width: 80%;
  max-width: 700px;
  text-align: left;
  color: #ccc;
  padding: 10px 0;
  height: 90%;
  background: white;
  overflow-y: auto;
  overflow-x: hidden;
  color:black;

  border: 2px;
  border-radius: 15px;
  position: static;
  margin-top:5px;
  margin-left:0;

  height:500px;
}

@media all and (min-width: 1024px) and (max-width: 1280px)
{
  #caption {
    margin-left:-1;
  }
}
@media all and (min-width: 200px) and (max-width: 767px)
{
  #caption {
    margin:auto;
    font-size:12px; 
  }
  #caption h1{
    font-size:20px;
  }
}
/* Add Animation - Zoom in the Modal */
.modal-content, #caption { 
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: fixed;
  top: 15%;
  color: white!important;
  font-size: 3.5rem!important;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
#myModal{
  overflow-y: auto;
}

.badge-comment{
  width:20px;
}
.avatars-comment{
  width:30px;
  margin-left: 15px;
  margin-right: 10px;
}

.pseudo{
  font-style:italic;
  font-size: 12px;
  color:#5c5c8a;
}
.date{
  font-style:italic;
  font-size: 12px;
  color:#33334d;
  margin-left: 10px;
  margin-right: 10px;
}

.message-commentaire{
  font-size: 14px;
}
#bloc-commentaire{
  overflow-y: auto;
  height: 265px;
}
#bloc-formulaire textarea{
  width:90%;
}
#bloc-formulaire {
  height: 200px;
}