/*Police style robot pour le nom du site*/

@font-face {
	font-family: "Robot Font";
	/*src: url('./polices/CFIRobotRegular.ttf');*/
	src: url('./polices/ClassicRobot.otf');
}


/* Remove the navbar's default margin-bottom and rounded borders */

.navbar {
	margin-bottom: 0;
	border-radius: 0;
	/*Position par rapport aux autres éléments*/
	z-index: 2000;
}

#nom_site {
	font-family: "Robot Font";
	font-size: 2em;
}

#user-login {
	margin: 0;
}

#user-login input {
	border-right: solid grey;
	border-left: solid grey;
}

#login_unconnected {
	text-align: right;
}

#fadeconnect, #fadeSelect {
	display: none;
	position: fixed;
	top:-100px;
	height: 115%;
	width: 100%;
	background: #22252e;
	opacity: 0.3;
	z-index: 1500;
}

/*CONNECTION*/

#connection {
	display: none;
	opacity: 1;
	width: 360px;
	position: absolute;
	background: #f6f4f4;
	top: 15%;
	left: 50%;
	margin-left: -180px;
	z-index: 1501;
	overflow: hidden;
	max-width: 100%;
	border-radius: 10px;
}

#connection input {
	background: #ffffff;
	width: 100%;
	font-size: 14px;
	margin-top: -6px;
	padding: 30px;
	border-top: 1px solid #e5e5e5;
}

#connection button {
	cursor: pointer;
	height: 70px;
	width: 100%;
	background: #63e9b1;
	letter-spacing: 1px;
	font-weight: 800;
	text-transform: uppercase;
	text-align: center;
	color: #ffffff;
	border: 1px grey;
}

#connection button:hover {
	background: #4EB78A;
}

#connection button i {
	width: 25px;
}

#connection h3 {
	padding: 25px 30px 0;
	font-size: 25px;
	line-height: 27px;
	font-weight: 800;
}

#connection h5 {
	padding: 5px 30px 0;
	font-size: 14px;
	margin-bottom: 30px;
	line-height: 16px;
	font-weight: 400;
	color: #818596;
}


/*Pour iphone 5 && 5E*/

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
	#connection {
		width: 300px;
		top: 20%;
		left: 3%;
		margin: auto;
	}
	#hamburger {
		margin-left: 21%;
	}
}


/*Pour iphone 6 && 7 && 8*/

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
	#connection {
		width: 300px;
		top: 20%;
		left: 10%;
		margin: auto;
	}
	#hamburger {
		margin-left: 33%;
	}
}


/*Pour iphone X*/

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
	#connection {
		width: 360px;
		top: 20%;
		left: 2%;
		margin: auto;
	}
}


/*Pour ipad*/

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	#connection {
		width: 500px;
		top: 20%;
		left: 17.5%;
		margin: auto;
	}
	#hamburger {
		margin-left: 69%;
	}
}


/*Pour iPhone 6, 7, & 8 Plus*/

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) {
	#connection {
		width: 300px;
		top: 20%;
		left: 12%;
		margin: auto;
	}
	#hamburger {
		margin-left: 40%;
	}
}


/*Pour Ipad Pro*/

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) {
	#connection {
		width: 600px;
		top: 10%;
		left: 20%;
		margin: auto;
	}
	#connection button {
		height: 100px;
		font-weight: 1000;
	}

}


/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
	#connection {
		width: 360px;
		top: 15%;
		left: 50%;
		margin-left: -180px;
	}
	#connection input {
		background: #ffffff;
		width: 100%;
		font-size: 14px;
		margin-top: -6px;
		padding: 30px;
		border-top: 1px solid #e5e5e5;
	}
	#connection button {
		height: 70px;
		font-weight: 800;
	}
}


/*Bouton fermer du formulaire de connection*/

#close_button_connection {
	cursor: pointer;
	width: 100%;
	text-transform: uppercase;
	text-align: center;
	color: #ffffff;
	background: #CA5748!important;
	border: 1px grey;
	border-radius: 0;
}

#close_button_connection:hover {
	background: #AD473E!important;
}


/*INSCRIPTION*/

#user-inscription {
	margin: 0;
}

#user-inscription input {
	border-right: solid grey;
	border-left: solid grey;
}

#inscription, #maj {
	display: none;
	opacity: 1;
	width: 360px;
	position: absolute;
	background: #f6f4f4;
	top: 15%;
	left: 50%;
	margin-left: -180px;
	z-index: 1501;
	overflow: hidden;
	max-width: 100%;
	border-radius: 10px;
}

#maj{
	top: 35%!important;
	left: 55%!important;
}

#inscription input, #maj input {
	background: #ffffff;
	width: 100%;
	font-size: 14px;
	margin-top: -6px;
	padding: 30px;
	border-top: 1px solid #e5e5e5;
	height: 60px;
}

#inscription button, #maj button {
	cursor: pointer;
	height: 70px;
	width: 100%;
	background: #5ad9a4;
	letter-spacing: 1px;
	font-weight: 800;
	text-transform: uppercase;
	text-align: center;
	color: #ffffff;
}

#inscription button:hover, , #maj button:hover {
	background: #63e9b1;
}

#inscription button i, #maj button i{
	width: 25px;
}

#inscription h3{
	padding: 25px 30px 0;
	font-size: 25px;
	line-height: 27px;
	font-weight: 800;
}

#maj h3 {
	margin-top: -10px;
	padding-bottom: 10px;
	padding-top: 15px;
	text-align: center;
	font-size: 25px;
	line-height: 27px;
	font-weight: 800;
}

#inscription h5{
	padding: 5px 30px 0;
	font-size: 14px;
	margin-bottom: 30px;
	line-height: 16px;
	font-weight: 400;
	color: #818596;
}


/*Pour iphone 5 && 5E*/

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
	#inscription {
		width: 94%;
		top: 20%;
		left: 3%;
		margin: auto;
	}
}


/*Pour iphone X*/

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
	#inscription {
		width: 360px;
		top: 20%;
		left: 2%;
		margin: auto;
	}
}


/*Pour iphone 6 && 7 && 8*/

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
	#inscription {
		width: 95%;
		top: 13%;
		left: 2%;
		margin: auto;
	}
}


/*Pour ipad*/

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	#inscription {
		width: 500px;
		top: 20%;
		left: 17.5%;
		margin: auto;
	}
}


/*Pour iPhone 6, 7, & 8 Plus*/

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) {
	#inscription {
		width: 95%;
		top: 13%;
		left: 2%;
		margin: auto;
	}
}


/*Pour Ipad Pro*/

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) {
	#inscription {
		width: 600px;
		top: 10%;
		left: 20%;
		margin: auto;
	}
	#inscription button {
		height: 100px;
		font-weight: 1000;
	}
	#inscription input {
		height: 100px;
	}
}


/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1280px) {
	#inscription {
		width: 360px;
		top: 15%;
		left: 50%;
		margin-left: -180px;
	}
	#inscription button {
		height: 70px;
		font-weight: 800;
	}
	#inscription input {
		height: 60px;
	}
}


/*Bouton fermer du formulaire d'inscription*/

#close_button_inscription {
	cursor: pointer;
	width: 100%;
	text-transform: uppercase;
	text-align: center;
	color: #ffffff;
	background: #CA5748!important;
	border: 1px grey;
	border-radius: 0;
}

#close_button_inscription:hover {
	background: #AD473E!important;
}
