#banniere_pseudo{
  margin-top: 70px;
}

#submit{
   padding: 15px 25px;
   font-size: 24px;
   cursor: pointer;
   color: white;
   background-color: rgb(0,40,104);
   border: solid;
   border-color: white;
   border-radius: 15px;
   box-shadow: 0 9px #999;
   margin-left: 35%;
   margin-top: 10%;
   font-family: "textePlat";
}

#submit:hover{
	opacity:.9;
  	background-color: white;
	color:rgb(0,40,104);
	border-color:rgb(0,40,104);
}

#submit:active{
	background-color: white;
	color:#BF0A30;
	border-color:rgb(0,40,104);
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}

#ligne_separatrice{
	margin-top: -131px;
}

.image_badge_profil {
  width:100px;
}

.image_badge_profil:hover, .avatar:hover,  .image_badge_profil_selection:hover, .image_crayon:hover{
  cursor: pointer;
}

.texte_image_badge {
  text-align: center;
  width: 150px;
  margin-left: -20px;
  font-size: 18px;
}

.image_badge_profil_selection {
  width:50px;
  margin-left: 10px;
}

.selection_badge{
    display: none;
    opacity: 1;
    width: 600px;
    height: 750px;
    position: absolute;
    top: 20%;
    z-index: 15000;
    overflow: hidden;
    max-width: 100%;
    border-radius: 10px;
    margin-top: -50px;
    margin-left: 35%;
  	opacity: 1;
  	background: #f6f4f4;
}

#maj{
	display: none;
}

#maj input{
	border-right: solid grey;
	border-left: solid grey;
}

.input_idUser{
	display: none;
}

.modif_profil{
    /*display: none;*/
    opacity: 1;
    width: 600px;
    height: 500px;
    position: absolute;
    top: 20%;
    z-index: 15000;
    overflow: hidden;
    max-width: 100%;
    border-radius: 10px;
    margin-top: -50px;
    margin-left: 35%;
  	opacity: 1;
  	background: #f6f4f4;
}

.ZonePseudo, .ZoneEmail, .ZoneMotDePasse{
    margin-left: 100px;
    margin-top: 50px;
}

#pseudo, #Email, #Mdp {
    margin-left: 20px;
    width: 300px;
}

.image_avatar_profil_selection {
  position: relative;
  z-index: 10000;
  border-radius: 50px;
  width: 90px;
  height: 90px;
  margin-top: 20px;
}

.selection_avatar{
  	display: none;
    opacity: 1;
    width: 600px;
    height: 600px;
    position: absolute;
    top: 20%;
    z-index: 15000;
    overflow: hidden;
    max-width: 100%;
    border-radius: 10px;
    margin-top: -50px;
    margin-left: 3%;
  	opacity: 1;
  	background: #f6f4f4;
}

.image_crayon{
    margin-left: 350px;
    margin-top: 10px;
}

.note_utilisateur{
    margin-top: 30px;
    margin-left: 70px;
}

#crayonEtPseudo{
    margin-top: 20px;
    margin-left: 10px;
}

.etoileUser{
	margin-top: 30px;
    float: left;
}

.decallage {
  margin-left: 50px;
  margin-top: 20px;
}

.titreSelectionBadge, .titreSelectionAvatar, .titreModifProfil{
  text-align: center;
}

.texte_image_badge_selection {
  text-align: center;
  font-size: 13px;
  width: 70px;
}

.avatar {
  position: relative;
  border-radius: 50px;
  width: 90px;
  height: 90px;
}

.separateur {
  height: 4px;
	margin-top: -2px;
  margin-left: 10%;
	position: relative;
	z-index: 9;
}

.pseudo_utilisateur{
	font-size: 40px;
    margin-left: 20px;
    color: black;
}

@media screen and (max-width: 1850px) {
	.separateur {
		margin-top: -2px;
	  margin-left: 10%;
	}
}

@media screen and (max-width: 1770px) {
	.separateur {
		margin-top: -2px;
	  margin-left: 7%;
	}
}

@media screen and (max-width: 1600px) {
	.separateur {
		margin-top: -2px;
	  margin-left: 5%;
	}
}

@media screen and (max-width: 1500px) {
	.separateur {
		margin-top: -2px;
	  margin-left: 3%;
	}
}

@media screen and (max-width: 1460px) {
	.separateur {
		margin-top: -2px;
	  margin-left: 0%;
	}
}

@media screen and (max-width: 1300px) {
	.separateur {
		margin-top: -2px;
	  margin-left: -10px;
	}
}

@media screen and (max-width: 1280px) {
	.separateur {
		margin-top: -2px;
	  margin-left: -5%;
	}
}

@media screen and (max-width: 1200px) {
	.separateur {
		margin-top: -4px;
	  margin-left: -5px;
	}
	.pseudo_utilisateur{
		margin-left: 35px;
	}
}

@media screen and (max-width: 990px) {
	.separateur {
		margin-top: -4px;
		margin-left: 15%;
	}
	.pseudo_utilisateur{
		margin-left: 60px;
	}
	.avatar{
		margin-left: 20px;
	}
}

@media screen and (max-width: 850px) {
	.separateur {
		margin-top: -4px;
		margin-left: 12%;
	}
}

@media screen and (max-width: 767px) {

	.separateur {
		margin-top: -4px;
		margin-left: 300%;
		width: 250px;
	}
	.pseudo_utilisateur{
		margin-left: 120px;
	}
	.avatar{
		margin-left: 50px;
	}
}

@media screen and (max-width: 575px) {

	.separateur {
		margin-top: -20px;
    margin-left: 39%;
    width: 240px;
	}
	.pseudo_utilisateur{
		margin-left: 260px;
    margin-top: -210px;
	}
	.avatar{
		margin-left: 150px;
		margin-top: -350px;
	}
	.image_badge_profil{
		margin-left: 20px;
	}
	.texte_image_badge{
		margin-left: 1px;
	}
}

@media screen and (max-width: 550px) {

}

@media screen and (max-width: 525px) {

}

@media screen and (max-width: 500px) {

	.separateur {
    margin-left: 42%;
	}
}

@media screen and (max-width: 450px) {

	.separateur {
		margin-left: 40%;
    margin-top: 80px;
	}
	.texte_image_badge {
	  display: none;
	}
	.pseudo_utilisateur{
		margin-left: 210px;
    margin-top: -110px;
	}
	.image_badge_profil {
	  width:60px;
	}
	.avatar{
		margin-top: -150px;
    margin-left: 100px;
	}
}

@media screen and (max-width: 400px) {

	.separateur {
    margin-left: 45%;
		width:180px;
	}
}

@media screen and (max-width: 375px) {

	.separateur {
    margin-left: 48%;
		width:160px;
	}
}

@media screen and (max-width: 372px) {

}

@media screen and (max-width: 340px) {

	.pseudo_utilisateur{
		margin-left: 200px;
    margin-top: -110px;
	}
}

@media screen and (max-width: 300px) {

}

@media screen and (max-width: 260px) {

}

@media screen and (max-width: 250px) {

}
